@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: 'Poppins','Montserrat', sans-serif;
  width: 100%;
  height: 100%;
}